{
	"extends": "@istanbuljs/nyc-config-typescript",
	"extension": [".ts"],
	"require": [
		 "ts-node/register"
	],
	"include": [
		"src/"
	],
	"exclude": [
		"node_modules/",
		"coverage/",
		"spec/"
	],
	"reporter": [
		"text",
		"text-summary",
		"lcov"
	]
}